*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

html {
  font-family: $main-font;
  font-optical-sizing: auto;
  font-size: $main-font-size;
  font-weight: $main-font-weght;
  line-height: $main-line-height;
  font-style: normal;
  letter-spacing: normal;

  color: $main-font-color;
  background-color: white;

  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  height: 100%;

  @media (max-width:$desktop-width) {
    font-size: 20px;
  }

  @media (max-width:$table-width) {
    font-size: 16px;
  }

  @media (max-width:$phone-width) {
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  max-width: calc($desktop-width + 160px);
  padding: 0 80px;

  @media (max-width:$table-width) {
    max-width: calc($table-width + 120px);
    padding: 0 60px;
  }

  @media (max-width:$phone-width) {
    max-width: calc($phone-width + 60px);
    padding: 0 30px;
  }
}

.section,
.main {
  padding: 80px 0;

  @media (max-width:$table-width) {
    padding: 60px 0;
  }

  @media (max-width:$phone-width) {
    padding: 30px 0;
  }
}

.separator {
  background-color: $main-font-color;
  max-width: calc(100% - 160px);
  height: 1px;
  margin: 0 auto;
}

.label {
  @include fontFamily("Inter Regular", sans-serif);
  @include textStyle(400, 24, 120%);
  opacity: 0.56;
}

.title {
  @include fontFamily('Playfair Display Regular', serif);
  @include textStyle(400, 36, 120%);
}

.pagination__ellipse {
  @include size(8px, 8px);
}

.main-button {
  @include fontFamily('Playfair Display SC Regular', sans-serif);
  @include textStyle(400, 24, 140%);
  color: #ffffff;

  display: flex;
  align-items: center;
  column-gap: 16px;

  border-radius: 0 32px;
  background-color: $primary-color;

  padding: 24px 48px;
}

.main-button__icon {
  @include size(34px, 34px);
}