@function rem($pixels, $context: $main-font-size) {
  @if(unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if(unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context * 1rem);
}

@mixin textStyle($weight, $size, $line-height) {
  font-weight: $weight;
  font-size: rem($size);
  line-height: $line-height;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin fontFamily($font-name) {
  font-family: $font-name, 'Arial', 'Helvetica', sans-serif;
}