$main-font: 'Inter Regular', Arial, Helvetica, sans-serif;

$main-font-size: 20px;
$main-font-weght: 400;
$main-line-height: 160%;
$main-font-color: #282A3A;

$desktop-width: 1280px;
$sm-desktop-width: 980px;
$table-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

$primary-color: #6D1600;
// $default-color:;
// $success-color:
// $danger-color:
// $warning-color:
// $light-color:
// $purple-color:

//$border-base
//$border-light