//Inter

@font-face {
  font-family: 'Inter Regular', sans-serif;
  src:
    url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Medium', sans-serif;
  src:
    url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter SemiBold', sans-serif;
  src:
    url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold', sans-serif;
  src:
    url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter ExtraBold', sans-serif;
  src:
    url('../assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Black', sans-serif;
  src:
    url('../assets/fonts/Inter-Black.woff2') format('woff2'),
    url('../assets/fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

//Playfair Display Regular

@font-face {
  font-family: 'Playfair Display Regular', sans-serif;
  src:
    url('../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Bold', sans-serif;
  src:
    url('../assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Black', sans-serif;
  src:
    url('../assets/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}