.header {
  padding: 24px 0;
}

.navigation__list {
  display: flex;
  gap: 56px;

  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgb(40, 42, 58);
}

.navigation__list-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgb(40, 42, 58);
}